.body, #under_nav_area{
    border: 3px solid rgb(0, 0, 0);
}

#nav_bar{
    height: 100%;
    border: 3px solid rgb(48, 252, 75);
}

#search_div, #brand, #company_info_div, #stock_info_box{
    border: 3px solid aqua;
}

#stock_chart_div{
    border: 3px solid rgb(221, 107, 107);
}