html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--sec-bg-color);
  height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --main-bg-color: #2c2c2c;
  --sec-bg-color: #606060;
  --txt-color-bright: #ffffff;
  --theme-color: #ffd600;
  --sec-theme-color: #b68c04;
  --stock-up-color: #41bf49;
  --stock-down-color: #d9626b;
  --common-radius: 10px;
  --common-gap: 10px;
  --bold-weight: 700;
}

/*===========================================================*/
/* nav_bar setting ==========================================*/
/*===========================================================*/

a {
  text-decoration: none;
}

#nav_bar {
  background-color: var(--main-bg-color);
  flex: none;
}

#collapsable_links {
  flex-grow: 0;
  flex-shrink: 0;
}

#nav_bar_watchlist {
  margin-right: 16px;
}

.navbar-toggler {
  background-color: var(--sec-bg-color);
}
/* ================================================= */
/* Custom ========================================== */
/* ================================================= */

.bright-txt {
  color: var(--txt-color-bright);
}

.yellow_button {
  /* top-left | top-right | bottom-right | bottom-left */
  background-color: var(--theme-color);
  color: var(--main-bg-color);
  font-weight: var(--bold-weight);
}
.yellow_radio_button {
  font-weight: var(--bold-weight);
  /* not selected */
  --bs-btn-color: var(--txt-color-bright);
  --bs-btn-border-color: var(--sec-bg-color);
  --bs-btn-bg: var(--sec-bg-color);
  /* selected */
  --bs-btn-active-color: var(--main-bg-color);
  --bs-btn-active-bg: var(--theme-color);
  --bs-btn-active-border-color: var(--theme-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  flex: auto;
}

#search_button {
  border-radius: 0 var(--common-radius) var(--common-radius) 0;
}

#ticker_input {
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: var(--common-radius) 0 0 var(--common-radius);
  flex: auto;
}

#under_nav_area {
  border: 3px solid rgb(129, 188, 255);
  display: flex;
  flex-grow: 1;
  gap: var(--common-gap);
  flex-direction: row;
}

#company_info_div {
  color: var(--txt-color-bright);
  background-color: var(--main-bg-color);
  border-radius: var(--common-radius);
}

#right_side_area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--common-gap);
}

@media (max-width: 768px) {
  #company_info_div {
    width: 100%;
  }
}

#stock_chart_div {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--main-bg-color);
  border-radius: var(--common-radius);
  padding: var(--common-gap);
  flex: 0 1 auto;
}

#radio_btn_group {
  display: flex;
  flex-flow: row wrap;
  margin-top: var(--common-gap);
  flex: 0 0 auto;
}

#stock_chart {
  display: flex;
  flex: 1 0 auto;
}

#stock_info_box {
  background-color: var(--main-bg-color);
  border-radius: var(--common-radius);
  color: var(--txt-color-bright);
  flex: 1 0 auto;
}
