.body{
    margin: 1rem;
    border: 3px solid rgb(0, 0, 0);
}

#serach_div{
    border: 3px solid rgb(48, 252, 75);
}

#stock_chart_div{
    border: 3px solid rgb(221, 107, 107);
}

#stock_info_box{
    border: 3px solid aqua;
}